---
import Layout from "$lib/layouts/BaseLayout.astro";
import Hero from "$lib/components/Hero.astro";
import Quote from "$lib/components/Quote.astro";
import Heading from "$lib/components/Heading.astro";
import TeamCard from "$lib/components/TeamCard.astro";
import bg from "src/assets/about/about.jpg";
const description =
  "ScanLAB Projects is an award winning creative studio. We specialise in exploring the use of large scale 3D scanning in architecture and the creative industries.";
---

<Layout dark={true} title="About - ScanLAB Projects" {description}>
  <Hero heading={description} background={bg} />
  <main>
    <Heading>Artist Statement</Heading>
    <p>
      ScanLAB Projects is an artist-led studio exploring the world through
      machine vision technologies, founded in 2010 by Matt Shaw (b 1983) and
      William Trossell (b 1985).
    </p>

    <p>
      Known for their evocative and ambitious body of precision-crafted physical
      and digital artworks which reveal and reflect on beauty, fragility, and
      resilience, ScanLAB invites and challenges us to explore our collective
      future. Their groundbreaking use of 3D scanning and definitive pointcloud
      aesthetic has taken them around the world making a seminal body of work
      that reflects on society and the natural world: from former concentration
      camps to melting arctic ice, from Stephen Hawking’s office to cacti blooms
      in the Sonoran Desert.
    </p>

    <p>
      This artistic practice resolves in a series of physical and digital works
      which thrive at the creative edge of a tool’s ability. Their aesthetic
      provides new ways to see, understand, and feel beyond the capabilities of
      our eyes or traditional cameras. ScanLAB act as a witness, a process
      recursively embedded in their artworks; defining the moment when
      photography becomes spatial, the works serve as a unique archive of our
      rapidly changing planet. They aim to document and interpret both the data
      and the essence of environments and moments that might otherwise be lost
      to time.
    </p>

    <p>
      The London-based team brings together architects, craftspeople,
      photographers, engineers, documentary filmmakers and software developers.
      They regularly collaborate with choreographers, musicians, writers,
      technologists, climate scientists, and researchers to extend the studio's
      impact beyond the gallery - in scientific papers, performance, climate
      activism, and journalism.
    </p>

    <p>
      ScanLAB’s diverse portfolio includes large scale installation, film,
      sculpture, XR, immersive storytelling and live performance which has been
      exhibited at prestigious cultural institutions including the Royal Academy
      (UK), LACMA (USA), Venice Biennale (IT), Louisiana (DK), Barbican (UK),
      the Photographers’ Gallery (UK), STRP Biennial (NL), Espacio Fundación
      Telefónica (ES), Southbank Centre (UK), the Science Museum (UK), The New
      Museum (USA), CPH:DOX (DK), SXSW (USA), the Berliner Ensemble (DE) and
      Tribeca (USA). It has also been widely published by the BBC, PBS, National
      Geographic, Arte, Nature, The New York Times, a nd The Guardian. Past
      collaborators include Danny Boyle, Greenpeace, Apple, MIT, Forensic
      Architecture and Cambridge University.
    </p>

    <p>
      In an era of generative AI, computer graphics, and synthetic realities,
      ScanLAB embraces their commitment to investigation, precision, equity,
      sustainability and truth.
    </p>

    <section class="max-w-3xl">
      <Quote
        cite="Francesca Panetta - executive editor, virtual reality at the Guardian"
        ><q
          >A joy to work with. Their visual work is stunning, their
          understanding and treatment of difficult subjects is sensitive.</q
        ><q
          >innovating in a fascinating visual space, trying techniques not seen
          before</q
        >
      </Quote>
      <Quote cite="Geoff Manaugh - BLDGBLOG"
        ><q
          >They've always been prepared to misuse the equipment, like two
          friends who hot-wire a Ferrari one night only to become the world's
          best stunt drivers less than five years later.</q
        ></Quote
      >
      <Quote cite="Chris Granlund - Executive Producer, BBC History">
        <q>Spectacular scans ... breath-taking visual impact</q>
        <q
          >A brilliant team that never stops innovating and taking you by
          surprise.</q
        >
      </Quote>
    </section>
    <!-- <Quote
      center={true}
      label="welcome to the jungle welcome to the jungle welcome to the jungle "
      cite="hello, james"
    />
    <Quote center={true} cite="hello, james"
      ><q
        >Welcome to the darkside welcome to the jungle welcome to the jungle
      </q>
      <q>Welcome to the darkside</q></Quote
    > -->
    <Heading>The Team Behind ScanLAB Projects</Heading>
    <div
      class="grid page-content-wide grid-cols-1 lg:grid-cols-2 gap-8 md:gap-12 lg:gap-24 p-12 text-sm"
    >
      <TeamCard title="Matthew Shaw" role="Director">
        <p>
          Matt is co-founder of ScanLAB Projects. <span class="hidden md:block"
            >His background is in architecture, digital fabrication and
            speculation about digital cities of the future. Over the last 15
            years he’s been turning the relentless, machinic eye of the 3D
            scanner on anything and everything - from giant mirrored sculptures,
            Arctic ice floes, Roman Sewers to graceful dancers. He is fascinated
            by the creative and critical role of the pointcloud, and is a big
            believer in experimentation and precision in equal measure!</span
          >
        </p>
      </TeamCard>
      <TeamCard title="William Trossell" role="Director">
        <p>
          Will is co-founder of ScanLAB Projects. <span class="hidden md:block"
            >He loves building new and extraordinary ways to expand our
            understanding of the material world. He graduated from the Bartlett
            School of Architecture but has been somewhat sidetracked as a
            creative technologist. With a keen interest in how the digital and
            its augmentation might impact our cultural heritage Will has working
            closely with Museums and World Heritage Sites around the world.</span
          >
        </p>
      </TeamCard>
      <TeamCard title="meriko borogove" role="Advisor">
        <p>
          meriko is delighted to be working with ScanLAB after more than 2
          decades at Apple, where she created some of the most innovative
          technologies of the last 25 years. <span class="hidden md:block"
            >She was a founding member of the iPhone team, and was responsible
            for building the iPhone cameras - fundamentally changing photography
            and videography across the globe. Today, meriko is focused on
            photography, exploring, and building effective, creative teams who
            push the boundaries of technology in the service of art and justice.</span
          >
        </p>
      </TeamCard>
      <TeamCard title="Jacques Pillet" role="Software Developer">
        <p>
          Jacques is a software developer and joined ScanLAB in 2019 after a
          master's degree in computer science and several years of industry
          experience<span class="hidden md:block"
            >He is passionate about graphics, creative coding and writing high
            performance software. At ScanLAB he builds incredible tools to
            create beautiful films and experiences and is often actively
            involved in the technical aspects of projects.</span
          >
        </p>
      </TeamCard>
      <TeamCard title="Tom Brooks" role="Computational Designer & Project Lead">
        <p>
          Tom's interest in all areas of digital arts has helped to cultivate a
          wide range of computation and design skills. <span
            class="hidden md:block"
            >Tom joined ScanLAB in February 2017 after graduating with a BSc in
            Mathematics and Physics from the University of Bath. Prior to
            ScanLAB he embarked on a varied freelance career, working on
            projects from video production and photography, to coding automation
            scripts and software. This diversity has been reflected in the roles
            undertaken for ScanLAB so far - moving between app development for
            the latest VR and AR technologies, and creating, editing and coding
            stunning 3D content and video.</span
          >
        </p>
      </TeamCard>
      <TeamCard
        title="Nicky Ovidiu Baiculescu"
        role="Visual Effects Supervisor & 3D Artist"
      >
        <p>
          Nicky is lead 3D Artist at ScanLAB since January 2018.<span
            class="hidden md:block"
            >Coming from a varied creative background, ranging from 3D artist,
            to VFX and animation roles, Nicky handles all aspects of the ScanLAB
            visualisation workflow. With an eye for detail he has worked across
            many of our projects, most notably our latest BBC series "Ancient
            Invisible Cities". He is passionate about traditional art, film and
            photography.</span
          >
        </p>
      </TeamCard>
      <TeamCard title="James White" role="Digital Designer & Project Lead">
        <p>
          James joined ScanLAB in 2021 after working at a world leading
          Architecture Practice.<span class="hidden md:block"
            >He is a graduate of both The Canterbury School of Architecture and
            The Bartlett School of Architecture. James is involved in all facets
            of ScanLAB’s work including visual effects, compositing, UI/UX
            Design and real time experiences. James joined to pursue his
            interest in the visual representation of architecture through the
            digital environment. He has made significant contributions to
            projects including beautiful work for EPFL, National Geographic and
            the BBC.</span
          >
        </p>
      </TeamCard>
      <TeamCard title="Anetta Jones" role="Senior Producer">
        <p>
          Anetta joined ScanLAB in late 2021. She brings extensive experience
          working across award-winning XR projects, feature films, TV and
          branded content.<span class="hidden md:block"
            >Anetta was most recently Lead Producer on ‘Goliath: Playing with
            Reality’, which featured Tilda Swinton and won the Grand Jury Prize
            for VR at La Biennale 2021. Prior to this Anetta spent several years
            at The Guardian. She also has experience working with The Economist,
            Dazed, Pulse Films, Archer's Mark, Engine and working closely with
            commissioners Google, Facebook and the British Film Institute.
            Projects Anetta has produced have been exhibited at Venice Film
            Festival, Tribeca, IDFA, Sheffield DocFest, CPH:Dox, PHI Centre
            Montreal, and more.</span
          >
        </p>
      </TeamCard>
      <TeamCard
        title="Kunal Lodhia"
        role="Visual Artist & 3D Capture Specialist"
      >
        <p>
          Kunal originally joined ScanLAB in 2021 as part of the Glasgow team
          for FRAMERATE, where he conducted daily landscape scans for 6 months,
          before joining the team in London.<span class="hidden md:block"
            >After graduating with a BA in French and Italian, Kunal has worked
            as a Freelance Photographer in Music, Fashion, and Portraiture. As a
            portrait artist, 3D portraiture is an area that particularly
            interests him. Kunal is responsible for 3D capture and
            post-production at ScanLAB. Since moving from traditional 2D
            photography to the 3D world, Kunal has been inspired by the
            unlimited possibilities of the pointcloud and has enjoyed creating
            art using the creative capabilities of camera paths.</span
          >
        </p>
      </TeamCard>
      <TeamCard title="Emilia Clark" role="Studio/Production Manager">
        <p>
          Emilia joined ScanLAB in 2021 with several years' experience running
          her own film production company.<span class="hidden md:block"
            >Since graduating with a BA in Politics and Economics and deciding
            that the creative world was for her, her freelance career has taken
            her everywhere from 600-seat theatres to film shoots in ruined
            chapels. She was drawn to ScanLAB's work because of her passion for
            off-the-beaten-path approaches to the arts, and she has particularly
            enjoyed working on projects like FRAMERATE. For Emilia, every day at
            ScanLAB is different: she oversees the day-to-day logistics of the
            studio, coordinates production plans, and, of course, makes sure the
            coffee supply never runs out!</span
          >
        </p>
      </TeamCard>
      <TeamCard title="Past Members" role="">
        <p>
          Over the years we’ve had the pleasure of counting Manuela Mesrie, Max
          Celar, Soma Sato, Grey Grierson, Dorka Makai, Theo Tan, Reuben Carter,
          JC Nicolas, James White, Luca Veronese, Egmontas Geras, Julia Schütz,
          Sammy Lee, Fiona Zisch, Berni Devilat, Thomas Parker, Tom Svilans and
          Thomas Pearce as fantastic team members.<span class="hidden md:block"
          ></span>
        </p>
      </TeamCard>
    </div>
  </main>
</Layout>
