---
import type { CollectionEntry } from "astro:content";
import Layout from "$lib/layouts/Layout.astro";
import Heading from "$lib/components/Heading.astro";
import ExhibitionCard from "$lib/components/ExhibitionCard.astro";
import { getCollection } from "astro:content";
type Props = CollectionEntry<"exhibitions">;

const description =
  "ScanLAB Projects is an award winning creative studio. We specialise in exploring the use of large scale 3D scanning in architecture and the creative industries.";

const exhibitions = (await getCollection("exhibitions")) as Props[];

const UPCOMING_EXHIBITIONS = exhibitions.filter(
  ({ data }) => data.showing === "SOON"
);
const CURRENT_EXHIBITIONS = exhibitions.filter(
  ({ data }) => data.showing === "NOW"
);
const PAST_EXHIBITIONS = exhibitions.filter(
  ({ data }) => data.showing === "PAST"
);
// order by {id}
console.log(PAST_EXHIBITIONS);
---

<Layout dark={true} title="Exhibitions - ScanLAB Projects" {description}>
  <main>
    <Heading>Upcoming</Heading>
    {
      UPCOMING_EXHIBITIONS.map(({ slug, data }) => (
        <ExhibitionCard
          dates={data.dates}
          project={slug}
          tickets={data.tickets}
          title={data.title}
          client={data.client}
          venue={data.venue}
          description={data.description}
        />
      ))
    }

    <Heading>Current</Heading>
    {
      CURRENT_EXHIBITIONS.map(({ slug, data }) => (
        <ExhibitionCard
          dates={data.dates}
          project={slug}
          tickets={data.tickets}
          title={data.title}
          client={data.client}
          venue={data.venue}
          description={data.description}
        />
      ))
    }

    <section class="flex flex-col gap-12 md:gap-16 items-center max-w-4xl">
      <Heading>Previous</Heading>
      <div class="flex flex-col gap-2 px-8">
        <div class="grid grid-cols-8 gap-4 font-bold text-xs py-4">
          <span class=""></span>
          <span class="col-span-3">Event</span>

          <span class=""></span>
          <span class="text-right">Venue</span>
          <span class=""></span>

          <span class="text-right">Date</span>
        </div>
        {
          PAST_EXHIBITIONS.map(({ slug, data }) => (
            <div class="grid grid-cols-8 gap-4 font-light text-sm">
              <div class="flex justify-start items-center text-xs">
                <span class="px-1 border rounded">Artwork</span>
              </div>
              <span class="col-span-3">{data.title}</span>
              <span class="" />
              <span class="text-right">{data.client}</span>
              <span class="" />
              <span class="text-right">{data.dates}</span>
            </div>
          ))
        }
      </div>
    </section>
  </main>
</Layout>

<!-- <div class="col">{getVenue(data.venue)}</div> -->
<style>
  :global(article:first-of-type) {
    border-bottom: none;
  }
</style>
