---
import Layout from "$lib/layouts/Layout.astro";
import Hero from "$lib/components/Hero.astro";
import Heading from "$lib/components/Heading.astro";
import Banner from "$lib/components/Banner.astro";
import Video from "$lib/components/Video.astro";
import { getCollection } from "astro:content";
import framerateBanner from "$lib/assets/projects/framerate/banner.jpg";
import felixsBanner from "$lib/assets/projects/felixs-room/banner.jpg";
import desertBanner from "$lib/assets/projects/desert-pulse/banner.jpg";
const projects = await getCollection("projects");
const framerate = projects.find(({ slug }) => slug === "framerate");
const felix = projects.find(({ slug }) => slug === "felixs-room");
const desert = projects.find(({ slug }) => slug === "desert-pulse");
const description =
  "A pioneering creative practice exploring the world through precise, beautiful digital replicas of buildings, landscapes, objects and events";
---

<Layout title="Home - ScanLAB Projects" {description}>
  <Hero heading={description} fullscreen={true} homepage={true}><Video /></Hero>

  <section>
    <Heading>Selected Artworks</Heading>
    <div class="selected-works flex flex-col gap-12 md:gap-16">
      <Banner
        slug={framerate?.slug}
        src={framerateBanner}
        title={framerate?.data.title}
        client={framerate?.data.client}
        tags={framerate?.data.tags}
      />
      <Banner
        slug={felix?.slug}
        src={felixsBanner}
        title={felix?.data.title}
        client={felix?.data.client}
        tags={felix?.data.tags}
      />
      <Banner
        slug={desert?.slug}
        src={desertBanner}
        title={desert?.data.title}
        client={desert?.data.client}
        tags={desert?.data.tags}
      />
    </div>
  </section>
</Layout>
<script>
  const bannerTags = document.querySelectorAll(".matt button");
  bannerTags.forEach((el: Element) => {
    el.addEventListener(
      "click",
      (e) => {
        e.preventDefault();
        window.location.assign(
          `/projects?tag=${(el as HTMLElement).dataset.use}`
        );
      },
      true
    );
  });
</script>
<style>
  section {
    color: var(--col-dark);
    max-width: var(--width-page);
    width: 100%;
    margin: 0 auto;
  }
</style>
