---
import type { CollectionEntry } from "astro:content";
import Layout from "$lib/layouts/BaseLayout.astro";
import MobileNavigation from "$lib/components/MobileNavigation.astro";
import Hero from "$lib/components/Hero.astro";
import Heading from "$lib/components/Heading.astro";
import Banner from "$lib/components/Banner.astro";
import Video from "$lib/components/Video.astro";
import { getCollection } from "astro:content";
import data from "$lib/config/data";
type Projects = CollectionEntry<"projects">[];
const NUM_PROJECTS = 3;
const projects = (await getCollection("projects")) as Projects;
const showcase = data.order
  .slice(0, NUM_PROJECTS)
  .map((slug) => projects.find((p) => p.slug === slug))
  .filter(Boolean);

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,gif}"
);

async function getImageData(slug: string) {
  return await images[`/src/assets/projects/${slug}/banner.jpg`]();
}

const banners = await Promise.all(
  showcase.map((project) => getImageData(project!.slug))
);

const description =
  "A pioneering creative practice exploring the world through precise, beautiful digital replicas of buildings, landscapes, objects and events";
---

<Layout title="Home - ScanLAB Projects" {description}>
  <Hero title={description} fullscreen={true} homepage={true}><Video /></Hero>
  <section id="homepage">
    <Heading>Selected Artworks</Heading>
    <div class="selected-works flex flex-col gap-12 md:gap-16">
      {
        showcase.map((project, i) => {
          return (
            <Banner
              slug={project?.slug}
              src={banners[i].default}
              title={project?.data.title}
              client={project?.data.client}
              tags={project?.data.tags}
            />
          );
        })
      }
    </div>
  </section>
  <MobileNavigation />
</Layout>
<script>
  if (document.documentElement.getAttribute("mobile")) {
    const el = document.getElementById("homepage");
    el?.classList.add("hidden");
  }
  const bannerTags = document.querySelectorAll(".matt button");
  bannerTags.forEach((el: Element) => {
    el.addEventListener(
      "click",
      (e) => {
        e.preventDefault();
        window.location.assign(
          `/projects?tag=${(el as HTMLElement).dataset.use}`
        );
      },
      true
    );
  });
</script>
<style>
  section {
    color: var(--col-dark);
    max-width: var(--width-page);
    width: 100%;
    margin: 0 auto;
  }
</style>
