---
import Icon from "./Icon.astro";
interface Props {
  active?: boolean;
  dates?: string;
  project?: string;
  tickets?: string;
  title?: string;
  client?: string;
  venue?: string;
  description?: string;
  cite?: string;
}
const {
  active = false,
  dates,
  cite,
  project,
  tickets,
  title,
  client,
  venue,
  description,
} = Astro.props;
---

<article class="flex flex-col font-light max-w-3xl gap-6 pb-12">
  <div class="flex justify-between">
    <h3 class="text-2xl"><span class="border-b-2">{title}</span></h3>
    <div class="flex flex-col items-end">
      <div class="flex gap-4 items-center text-sm">
        <Icon ctx="calendar" />
        <span>{dates}</span>
      </div>
      <div class="text-sm text-right">
        <h4>{client}</h4>
        <p>{venue}</p>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <p>{description}</p>
    <p class="italic text-right">{cite}</p>
  </div>

  <div class="flex items-center justify-between">
    {
      active && (
        <div class="flex items-center gap-4 rounded-md">
          <Icon ctx="credit-card" />
          <a href={tickets}>
            <strong>Book your tickets</strong>
          </a>
        </div>
      )
    }
    <a class="text-sm" href={`/${project}`}
      ><strong>see here for more information</strong></a
    >
  </div>
</article>
<style>
  article {
    border-bottom: 1px solid #aaa;
  }
  article:last-of-type {
    border: none;
  }
</style>
