---
import type { ImageMetadata } from "astro";
import { getImage, Image } from "astro:assets";

interface Props {
  href: string;
  misc: any;
  alt?: string;
  caption?: string;
}
const { href, alt, caption } = Astro.props;
const slug = Astro.params.slug;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/projects/**/*.{jpeg,jpg,png,gif}"
);

const source = await images[`/src/assets/projects/${slug}/${href}`];
if (!source)
  throw new Error(
    `"${source}" does not exist in glob: "/src/assets/projects/**/*.{jpeg,jpg,png,gif}"`
  );
const imageData = await getImage({ src: source() });
let orientation = "landscape";
if (imageData) {
  orientation =
    imageData.options.width > imageData.options.height
      ? "landscape"
      : "portrait";
}
---

<div class="img-anchor">
  <div data-orientation={orientation} class="img-lift my-8">
    <Image
      src={source()}
      alt={alt || caption || "ScanLAB Projects"}
      style="height: 100%; width: 100%; object-fit: contain;"
    />
    {
      caption && (
        <p class="text-xs font-light px-4 lg:px-0 m-0 mt-1 text-center">
          {caption}
        </p>
      )
    }
  </div>
</div>
<style>
  .img-anchor {
    flex: 1 1 100%;
  }
  .invert img {
    filter: invert(1);
  }
  .img-lift img {
    width: 100%;
    object-fit: contain;
    max-width: var(--width-page);
  }

  [data-orientation="portrait"] img {
    max-height: 60vh;
  }
</style>
