---
import Icon from "./Icon.astro";
---

<div
  class="absolute grid place-content-center w-full h-full top-0 loading animate-spin text-white"
>
  <Icon ctx="loader" size="2" />
</div>
<video
  id="player"
  class="video-js"
  loop
  preload="true"
  muted
  autoplay
  playsinline
>
  <source class="video-compressed" src="" type="video/webm" />
</video>

<style>
  h3 {
    position: absolute;
    bottom: 0;
    z-index: 10;
    color: white;
  }
  video {
    transition: opacity 0.3s;
    position: relative;
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0;
    &.can-play {
      opacity: 1;
    }
  }
</style>
<script is:inline>
  const s3Media = "http://s3.eu-west-1.amazonaws.com/media.scanlabprojects";
  const isMobileMedia = window.matchMedia("(max-width: 640px)");
  const isMobile = isMobileMedia.matches;
  const $player = document.getElementById("player");
  $player.volume = 0;

  const feeds = ["Showreel_A", "Showreel_B", "Showreel_C"];
  const randomFeed = feeds[Math.floor(Math.random() * 3)];
  if (isMobile) {
    const isIOS = /iPad|iPhone|iPod/.test(navigator.userAgent);
    const format = isIOS ? "mp4" : "webm";
    // $player.setAttribute("poster", "/assets/skeleton.gif");
    $player.setAttribute("src", `${s3Media}/mobile-slp.${format}`);
    $player.load();
    document.documentElement.setAttribute("mobile", true);
    window.addEventListener("mobile-video-target", (e) => {
      $player.classList.remove("can-play");
      if (e?.detail)
        $player.setAttribute("src", `${s3Media}/mobile-${e.detail}.${format}`);
    });
    $player.addEventListener("canplay", (e) => {
      $player.classList.add("can-play");
    });
    window.addEventListener("mobile-video-clear", (e) => {
      $player.classList.remove("can-play");
    });
  }
  if (!isMobile) {
    $player.setAttribute("src", `${s3Media}/${randomFeed}.webm`);
    $player.load();
    $player.addEventListener("canplay", (e) => {
      $player.play();
      $player.classList.add("can-play");
    });
    window.addEventListener("hero-is-visible", (e) => {
      if (!e.detail) $player.pause();
      if (e.detail) $player.play();
    });
  }
</script>
