---
import { getCollection, getEntry } from "astro:content";
import Layout from "$lib/layouts/BaseLayout.astro";
import Hero from "$lib/components/Hero.astro";
export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map(({ slug, data }) => {
    return {
      params: { slug },
      props: { ...data },
    };
  });
}
const slug = Astro.params.slug;
const mdx = await getEntry("projects", slug);
const { Content } = (await mdx?.render()) || { Content: "" };
const { title, vimeo, client, subtitle, tags, background, description, date } =
  Astro.props;
const image = background ? `${slug}/${background}` : null;
let hero;
if (image) {
  const bgs = import.meta.glob<{ default: ImageMetadata }>(
    `/src/assets/projects/**/*.jpg`
  );
  hero = await bgs[`/src/assets/projects/${image}`]();
}
---

<Layout dark={false} {title} {slug} {description}>
  <Hero
    projectpage={true}
    heading={title}
    {tags}
    {date}
    {vimeo}
    background={hero?.default}
    {client}
    {subtitle}
  />
  <main>
    <!-- {
      date && (
        <date class="text-xs text-right">
          <span class="border rounded-md p-2">{date}</span>
        </date>
      )
    } -->
    <Content />
  </main>
</Layout>

<style>
  date {
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.25); */
  }
</style>
