---
import "$lib/styles/global.css";
import data from "$lib/config/data";
import { SEO } from "astro-seo";
import Logo from "$lib/components/Logo.astro";
import Navigator from "$lib/components/Navigator.astro";
import Footer from "$lib/components/Footer.astro";
interface Props {
  title: string;
  dark?: boolean;
  projects?: boolean;
  nav?: boolean;
  description?: string;
  slug?: string;
}
const {
  title,
  slug,
  description,
  dark = false,
  projects = true,
  nav = true,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      {title}
      {description}
      openGraph={{
        basic: {
          title,
          type: "website",
          image: slug
            ? `https://scanlabprojects.co.uk/images/work/${slug}/adultchildren--banner.jpg`
            : "http://s3.eu-west-1.amazonaws.com/media.scanlabprojects/scanlabprojects.jpg",
        },
        optional: {
          siteName: "ScanLAB Projects",
        },
      }}
      extend={{
        meta: [
          {
            name: "twitter:image",
            content: `${data.s3Bucket}/scanlabprojects.jpg`,
          },
          { name: "twitter:title", content: `ScanLAB Projects: ${title}` },
          { name: "twitter:description", content: description },
        ],
      }}
    />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->
    <!-- <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@100;300;600&display=swap"
      rel="stylesheet"
    /> -->
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    {
      nav && (
        <Navigator>
          <Logo {dark} />
        </Navigator>
      )
    }
    <slot />
    <Footer link={projects} />
  </body>
</html>
<style is:global>
  html {
    background: #fff;
    font-size: var(--size-base);
  }
  html.is-static {
    overflow-y: hidden;
  }
  html[mobile="true"] {
    footer {
      display: none;
    }
  }
  /* has-hero */
  nav:has(~ header) {
    --nav-hover: var(--col-white);
  }

  body {
    position: relative;
    margin: 0;
    overflow-x: hidden;
  }

  .bold {
    font-weight: bold;
  }
</style>
